@media screen {
  .account-container {
    gap: 20px;
    display: flex;
    width: inherit;
    flex-direction: column;
  }

  .account-card.selected {
    color: var(--background-color);
    background-color: var(--light-color);
  }

  .selected .icon-acc {
    fill: var(--background-color);
  }
  .account-game-p {
    gap: 20px;
    padding: 10px;
    display: flex;
    height: inherit;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var( --primary-color);
  }

  .account-info {
    gap: 10px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  .account-card {
    width: 200px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    min-width: 200px;
    flex-direction: column;
    color: var(--light-color);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

  .account-card h5 {
    font-size: 0.8rem;
    text-transform: capitalize;
  }

  .account-card-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .account-card-icon h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .icon-acc {
    width: 40px;
    height: 40px;
    fill: var(--light-color);
  }

  .acc-m {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: scroll;
    background-color: var(--light-primary-color);
  }

  .hide-ds {
    display: none;
  }

  .hide-mb {
    display: flex;
  }

  .gm-m {
    overflow-x: auto;
    background-color: var( --primary-color);

  }
  
  table {
    width: 100%;
  }


  .acc-m thead {
    font-size: .7rem;
    background-color: var(--primary-color);
  }

  .acc-m tbody {
    font-size: .8rem;
    font-weight: bold;
  }

  .acc-m th,
  td {
    padding: 20px;
  }

  .acc-m th {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--background-color);
  }
  
  .acc-m td {
    cursor: pointer;
    border-bottom: none;
    text-transform: capitalize;
    border: 2px solid var(--primary-color);

  }

  .acc-m th {
    font-weight: 600;
    text-transform: uppercase;
  }

  .account-tbl-img {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  .account-pi {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 360%;
    object-position: center;
  }

  .account-t-con {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .account-toggle {
    gap: 10px;
    padding: 5px;
    width: 130px;
    display: flex;
    align-items: center;
    border-radius: 360px;
    transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    background-color: var(--primary-color);
  }

  .account-mode {
    width: 20px;
    height: 20px;
    border-radius: 360%;
    background-color: var(--light-primary-color);
  }

  .account-toggle span {
    font-size: .7rem;
    font-weight: 600;
    color: var(--light-color);
  }


  .account-delete {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .icon-delete {
    width:24px;
    height: 24px;
    fill: var(--secondary-color);
  }
 
}

.game-edit {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  background-color: var(--primary-color);
}

.mobile-exit {
  cursor: pointer;
}

.showEdit {
  display: flex;
}

.closeEdit {
  display: none;
}


/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .acc-m {
    max-height: 640px;
  }

  .acc-m td {
    text-align: center;
  }

  .hide-ds {
    display: flex;
  }

  .hide-mb {
    display: none;
  }


}
