@media screen {
  .auth-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 999999;
    position: fixed;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--tertiary-color);
    background-image: url('../assets/slide4.jpeg');
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .form-l-wrapper {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 10px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    width: 90%;
    gap: 5px;
  }

  .form-l-wrapper h1 {
    padding: 10px;
    font-size: 1rem;
    text-transform: capitalize;
  }

  .reverse {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 200;
    text-decoration: underline;
  }

  .click-a {
    text-decoration: underline;
  }

  .form-l-wrapper p {
    font-size: 0.8rem;
    text-align: center;
    color: var(--tertiary-color);
  }

  .l-form {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .l-form span {
    cursor: pointer;
    font-size: .8rem;
    text-decoration: underline;
  }

  .input-l {
    border-radius: 4px;
    padding: 10px 20px;
    background: transparent;
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
  }

  .input-l:hover {
    border: 1px solid var(--tertiary-blue-color);
  }

  .input-l::placeholder {
    font-size: 0.6rem;
    text-transform: capitalize;
    color: var(--tertiary-color);
  }

  .btn-f {
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 4px;
    padding: 15px 20px;
    text-transform: capitalize;
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }

  .btn-f:hover {
    background: var(--tertiary-blue-color);
  }

  .l-alternatives {
    gap: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
  }

  .alt-btn {
    gap: 10px;
    display: flex;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 15px 20px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background-color: transparent;
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
  }

  .alt-btn:hover {
    color: var(--background-color);
    background-color: var(--tertiary-color);
  }
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .form-l-wrapper {
    width: 20%;
  }
}
