@media screen {
  .form-wrapper {
    height: 100vh;
    border: 1px solid var(--primary-light-color);
  }

  .form-wrapper h1 {
    font-size: 1rem;
  }

  .form-group label {
    font-size: .8rem;
    color: var(--background-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
  .home-container {
    height: 100vh;
  }
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
